Job: string
  Label: string
  POI: string
  ReadFrom: HIST/NTUP
  HistoPath: string
  NtuplePath: string
  NtuplePaths: string
  MCweight: string
  Selection: string
  NtupleName: string
  Lumi: float
  LumIScale: float
  SystPruningShape: float
  SystPruningNorm: float
  SystLarge: float
  IntCodeOverall: int
  IntCodeShape: int
  MCstatThreshold: NONE/float
  MCstatConstraint: GAUSSIAN/POISSON
  DebugLevel: int
  Logo: TRUE/FALSE
  YIELDS: TRUE/FALSE
  NORMSIG: TRUE/FALSE
  NOSIG: TRUE/FALSE
  OVERSIG: TRUE/FALSE
  CHI2: TRUE/FALSE
  PREFITONPOSTFIT: TRUE/FALSE
  NOXERR: TRUE/FALSE
  STANDALONE: TRUE/FALSE
  FOOTNOTESIZE: TRUE/FALSE
  LANDSCAPE: TRUE/FALSE
  SystControlPlots: TRUE/FALSE
  SystDataPlots: TRUE/FALSE
  CorrelationThreshold: float
  SignalRegionsPlot: string
  HistoChecks: NOCRASH
  LumiLabel: string
  CmeLabel: string
  SplitHistoFiles: TRUE/FALSE
  BlindingThreshold: float
  KeepPrefitBlindedBins: TRUE/FALSE
  RankingMaxNP: int
  RankingPlot: string
  ImageFormat: string
  StatOnly: TRUE/FALSE
  SystErrorBars: TRUE/FALSE
  SummaryErrorbars: string
  FixNPforStatOnly: TRUE/FALSE
  InputFolder: string
  InputName: string
  OutputDir: string
  WorkspaceFileName: string
  KeepPruning: TRUE/FALSE
  AtlasLabel: string
  CleanTables: TRUE/FALSE
  SystCategoryTables: TRUE/FALSE
  SummaryPlotRegions: string
  SummaryPlotYmax: float
  SummaryPlotYmin: float
  RatioYmax: float
  RatioYmin: float
  RatioYmaxPostFit: float
  RatioYminPostFit: float
  CustomAsimov: string
  RandomPOISeed: int
  GetChi2: TRUE/STAT+SYST/STAT
  TtresSmoothing: TRUE/FALSE
  SmoothingOption: MAXVARIATION/TTBARRESONANCE/COMMONTOOLSMOOTH/KERNELFUNCTION
  KernelSmoothingOption: BOX/NORMAL
  KernelSmoothingType: RATIO/DELTA
  UseGammaPulls: TRUE/FALSE
  GuessMCStatEmptyBins: TRUE/FALSE
  MergeUnderOverFlow: TRUE/FALSE
  DoSummaryPlot: TRUE/FALSE
  DoMergedPlot: TRUE/FALSE
  DoTables: TRUE/FALSE
  DoPieChartPlot: TRUE/FALSE
  CustomFunctions: string
  SuppressNegativeBinWarnings: TRUE/FALSE
  Bootstrap: string
  RunROOTMacros: TRUE/FALSE
  PlotOptions: string
  PlotOptionsSummary: string
  ReplacementFile: string
  RegionGroups: string
  LogScale: TRUE/FALSE
  DecorrSuff: string
  DecorrSysts: string
  DoSignalRegionsPlot: TRUE/FALSE
  TableOptions: string
  ReduceNPforRanking: float
  Suffix: string
  SaveSuffix: string
  HideNP: string
  SummaryPlotLabels: string
  SummaryPlotValidationRegions: string
  SummaryPlotValidationLabels: string

Fit: string
  FitType: SPLUSB/BONLY
  FitRegion: CRSR/CRONLY
  FitBlind: TRUE/FALSE
  POIAsimov: float
  NPValues: string
  FixNPs: string
  doLHscan: string
  UseMinos: string
  SetRandomInitialNPval: float
  NumCPU: int
  StatOnlyFit: TRUE/FALSE
  GetGoodnessOfFit: TRUE/FALSE
  TemplateInterpolationOption: LINEAR
  SetRandomInitialNPvalSeed: int

Limit: string
  LimitType: ASYMPTOTIC/TOYS
  LimitBlind: TRUE/FALSE
  POIAsimov: float
  SignalInjection: TRUE/FALSE

Options: string

Region: string
  VariableTitle: string
  Label: string
  TexLabel: string
  ShortLabel: string
  LumiLabel: string
  CmeLabel: string
  LogScale: TRUE/FALSE
  HistoFile: string
  HistoName: string
  HistoPathSuff: string
  HistoPathSuffs: string
  Variable: string
  VariableForSample: string
  Selection: string
  NtupleName: string
  NtuplePathSuff: string
  NtuplePathSuffs: string
  MCweight: string
  Rebin: int
  Binning: string
  BinWidth: float
  BinLabels: string
  Type: SIGNAL/CONTROL/VALIDATION
  DataType: ASIMOV/DATA
  Ymax: float
  Ymin: float
  RatioYmax: float
  RatioYmin: float
  RatioYmaxPostFit: float
  RatioYminPostFit: float
  DropBins: string
  Group: string
  YaxisTitle: string
  YmaxScale: float
  SkipSmoothing: TRUE/FALSE

Sample: string
  Type: SIGNAL/BACKGROUND/DATA/GHOST
  Title: string
  TexTitle: string
  Group: string
  HistoFile: string
  HistoName: string
  HistoPath: string
  NtupleFile: string
  NtupleName: string
  NtuplePath: string
  NtupleNameSuff: string
  NtupleFiles: string
  NtupleNames: string
  NtuplePaths: string
  NtupleNameSuffs: string
  FillColor: string
  LineColor: string
  NormFactor: string,float,float,float/string,float,float,float,TRUE
  ShapeFactor: string,float,float,float/string,float,float,float,TRUE
  NormalizedByTheory: TRUE/FALSE
  MCweight: string
  Selection: string
  Regions: string
  Exclude: string
  LumiScale: string/float
  LumiScales: string/float
  IgnoreSelection: TRUE/FALSE
  UseMCstat: TRUE/FALSE
  UseSystematics: TRUE/FALSE
  MultiplyBy: string
  DivideBy: string
  AddSample: string
  AddSamples: string
  SubtractSample: string
  SubtractSamples: string
  Smooth: TRUE/FALSE
  AsimovReplacementFor: string,string
  SeparateGamma: TRUE/FALSE
  CorrelateGammasInRegions: string
  Morphing: string,float
  BuildPullTable: TRUE/NORM-ONLY/NORM+SHAPE
  SeparateGammas: TRUE/FALSE % added by Michele

NormFactor: string
  Samples: string
  Regions: string
  Exclude: string
  Title: string
  Nominal: float
  Min: float
  Max: float
  Constant: TRUE/FALSE
  SubCategory: string
  Expression: string

ShapeFactor: string
  Samples: string
  Regions: string
  Title: string

Systematic: string
  Samples: string
  Regions: string
  Exclude: string
  ExcludeRegionSample: string
  Type: HISTO/OVERALL/SHAPE/STAT
  Title: string
  StoredName: string
  NuisanceParameter: string
  IsFreeParameter: TRUE/FALSE
  Category: string
  SubCategory: string
  HistoPathUp: string
  HistoPathDown: string
  HistoPathSufUp: string
  HistoPathSufDown: string
  HistoFileUp: string
  HistoFileDown: string
  HistoFileSufUp: string
  HistoFileSufDown: string
  HistoNameUp: string
  HistoNameDown: string
  HistoNameSufUp: string
  HistoNameSufDown: string
  NtuplePathUp: string
  NtuplePathDown: string
  NtuplePath: string
  NtuplePaths: string
  NtuplePathsUp: string
  NtuplePathsDown: string
  NtuplePathSufUp: string
  NtuplePathSufDown: string
  NtupleFileUp: string
  NtupleFilesDown: string
  NtupleFilesUp: string
  NtupleFileSufUp: string
  NtupleFileSufDown: string
  NtupleNameUp: string
  NtupleNameDown: string
  NtupleNamesUp: string
  NtupleNamesDown: string
  NtupleNameSufUp: string
  NtupleNameSufDown: string
  SampleUp: string
  SampleDown: string
  WeightUp: string
  WeightDown: string
  WeightSufUp: string
  WeightSufDown: string
  IgnoreWeight: string
  Symmetrisation: ONESIDED/TWOSIDED
  Smoothing: float
  OverallUp: float
  OverallDown: float
  ScaleUp: string
  ScaleDown: string
  ReferenceSample: string
  DropShapeIn: string
  DropNorm: string
  KeepNormForSamples: string
  PreSmoothing: TRUE/FALSE
  SubtractRefSampleVar: TRUE/FALSE
  NtupleFileDown: string
  Decorrelate: REGION/SAMPLE/SHAPEACC
  KeepReferenceOverallVar: TRUE/FALSE
