Fit: "FitExample"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "ExampleInputs"
  FitType: CONTROL
%   MCstatThreshold: 0.05
  DebugLevel: 1
  

Region: "SR_1"
%   Type: SIGNAL
  Type: CONTROL
  HistoName: "HTj"
  VariableTitle: "H_{T} [GeV]"
  Label: "Signal Region 1"
  ShortLabel: "SR 1"

  
Sample: Data
  Title: "Data 2012"
  Type: data
  HistoFile: "data"
    
Sample: "Bkg1"
  Type: background
  Title: "Backgr.1"
  FillColor: 400
  LineColor: 1
  HistoFile: "bkg1"

Sample: "Bkg2"
  Type: background
  Title: "Backg.2"
  FillColor: 591
  LineColor: 1
  HistoFile: "bkg2"

Sample: "Signal"
  Type: signal
  Title: "Signal"
  FillColor: 632
  LineColor: 632
  NormFactor: "SigXsecOverSM",1,0,100
  HistoFile: "sig"
      
  
Systematic: "JES"
  Title: "JES"
  Type: histo
  HistoNameSufUp: "_jesUp"
  HistoNameSufDown: "_jesDown"
  Samples: Bkg1,Signal
  Smoothing: 40
  Symmetrisation: OneSided
  
Systematic: "BkgXsec"
  Title: "BkgXsec"
  Type: overall
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: Bkg1, Bkg2

Systematic: "BkgXsec2"
  Title: "BkgXsec2"
  Type: overall
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: Bkg1, Bkg2
