Fit: FitMergedtta30
Label: FitMergedtta30
POI: "SigXsecOverSM"
ReadFrom: HIST
HistoPath: "/nfs/at3/scratch2/mcasolino/AnalysisttA/Inputs_6_29/"
CmeLabel: 14TeV
LumiLabel: 30fb^{-1}
LumiScale: 30
FitType: CONTROLSIGNAL
SystControlPlots: TRUE

Region: SR_1
Type: CONTROL
HistoName: "R5j3b_MJet_R6_m_100GeV"
VariableTitle: "leading BDRS mass [GeV]"
Label: "5j3b"
ShortLabel: "SR 1"


Region: VD_1
Type: VALIDATION
HistoName: "R5j3b_MJet_R6_m_100GeV_pretty"
VariableTitle: "leading BDRS mass [GeV]"
Label: "5j3b"
ShortLabel: "VD 1"


Region: SR_2
Type: CONTROL
HistoName: "R5j4b_MJet_R6_m_100GeV"
VariableTitle: "leading BDRS mass [GeV]"
Label: "5j4b"
ShortLabel: "SR 2"


Region: VD_2
Type: VALIDATION
HistoName: "R5j4b_MJet_R6_m_100GeV_pretty"
VariableTitle: "leading BDRS mass [GeV]"
Label: "5j4b"
ShortLabel: "VD 2"


Sample: ttlight
Type: BACKGROUND
Title: "t#bar{t}+light jets"
FillColor: 0
LineColor: 1
HistoFile: "ttlight_NOMINAL"


Sample: tt1c
Type: BACKGROUND
Title: "t#bar{t}+ #geq 1c"
FillColor: 863
LineColor: 1
HistoFile: "tt1c_NOMINAL"


Sample: tt1b
Type: BACKGROUND
Title: "t#bar{t}+ #geq 1b"
FillColor: 862
LineColor: 1
HistoFile: "tt1b_NOMINAL"


Sample: ttV
Type: BACKGROUND
Title: "t#bar{t}+X"
FillColor: 801
LineColor: 1
HistoFile: "ttV_NOMINAL"


Sample: Signal
Type: SIGNAL
Title: "ttA(g_{t}=2)"
FillColor: 633
LineColor: 1
NormFactor: "SigXsecOverSM",1,0,100
HistoFile: "tta30_NOMINAL"


Systematic: B
Title: "B"
Type: HISTO
HistoFileUp: "ttlight_BUP"
HistoFileDown: "ttlight_BDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: ttlight


Systematic: B
Title: "B"
Type: HISTO
HistoFileUp: "tt1c_BUP"
HistoFileDown: "tt1c_BDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: tt1c


Systematic: B
Title: "B"
Type: HISTO
HistoFileUp: "tt1b_BUP"
HistoFileDown: "tt1b_BDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: tt1b


Systematic: B
Title: "B"
Type: HISTO
HistoFileUp: "ttV_BUP"
HistoFileDown: "ttV_BDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: ttV


Systematic: B
Title: "B"
Type: HISTO
HistoFileUp: "tta30_BUP"
HistoFileDown: "tta30_BDOWN"
Symmetrisation: TWOSIDED
Samples: Signal
Smoothing: 40


Systematic: C
Title: "C"
Type: HISTO
HistoFileUp: "ttlight_CUP"
HistoFileDown: "ttlight_CDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: ttlight


Systematic: C
Title: "C"
Type: HISTO
HistoFileUp: "tt1c_CUP"
HistoFileDown: "tt1c_CDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: tt1c


Systematic: C
Title: "C"
Type: HISTO
HistoFileUp: "tt1b_CUP"
HistoFileDown: "tt1b_CDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: tt1b


Systematic: C
Title: "C"
Type: HISTO
HistoFileUp: "ttV_CUP"
HistoFileDown: "ttV_CDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: ttV


Systematic: C
Title: "C"
Type: HISTO
HistoFileUp: "tta30_CUP"
HistoFileDown: "tta30_CDOWN"
Symmetrisation: TWOSIDED
Samples: Signal
Smoothing: 40


Systematic: L
Title: "L"
Type: HISTO
HistoFileUp: "ttlight_LUP"
HistoFileDown: "ttlight_LDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: ttlight


Systematic: L
Title: "L"
Type: HISTO
HistoFileUp: "tt1c_LUP"
HistoFileDown: "tt1c_LDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: tt1c


Systematic: L
Title: "L"
Type: HISTO
HistoFileUp: "tt1b_LUP"
HistoFileDown: "tt1b_LDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: tt1b


Systematic: L
Title: "L"
Type: HISTO
HistoFileUp: "ttV_LUP"
HistoFileDown: "ttV_LDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: ttV


Systematic: L
Title: "L"
Type: HISTO
HistoFileUp: "tta30_LUP"
HistoFileDown: "tta30_LDOWN"
Symmetrisation: TWOSIDED
Samples: Signal
Smoothing: 40


Systematic: JES
Title: "JES"
Type: HISTO
HistoFileUp: "ttlight_JESUP"
HistoFileDown: "ttlight_JESDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: ttlight


Systematic: JES
Title: "JES"
Type: HISTO
HistoFileUp: "tt1c_JESUP"
HistoFileDown: "tt1c_JESDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: tt1c


Systematic: JES
Title: "JES"
Type: HISTO
HistoFileUp: "tt1b_JESUP"
HistoFileDown: "tt1b_JESDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: tt1b


Systematic: JES
Title: "JES"
Type: HISTO
HistoFileUp: "ttV_JESUP"
HistoFileDown: "ttV_JESDOWN"
Symmetrisation: TWOSIDED
Smoothing: 40
Samples: ttV


Systematic: JES
Title: "JES"
Type: HISTO
HistoFileUp: "tta30_JESUP"
HistoFileDown: "tta30_JESDOWN"
Symmetrisation: TWOSIDED
Samples: Signal
Smoothing: 40


Systematic: ttbar_light_XS
Title: "ttbar_light_XS"
Type: OVERALL
OverallUp: 0.15
OverallDown: -0.15
Samples: ttlight


Systematic: ttbar1b_XS
Title: "ttbar1b_XS"
Type: OVERALL
OverallUp: 0.52
OverallDown: -0.52
Samples: tt1b


Systematic: ttbar1c_XS
Title: "ttbarC_XS"
Type: OVERALL
OverallUp: 0.52
OverallDown: -0.52
Samples: tt1c


Systematic: ttV_XS
Title: "ttV_XS"
Type: OVERALL
OverallUp: 0.52
OverallDown: -0.52
Samples: ttV


